.sidepanel {
    position: fixed;
    top: 230px;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $main-color;
    height: 340px;
    z-index: 3;
    &__link {
        &:hover {
            svg path {
                fill: #000;
            }
        }
    }
    &__divider {
        width: 2px;
        height: 70px;
        background-color: $main-color;
    }
    &__text {
        height: 150px;
        width: 25px;
        span {
            transform: rotate(-90deg) translate(-44%,-285%);
            display: block;
            width: 160px;
            font-weight: bold;
        }
    }
}